svg.react-d3-templates-canvas {
    background-color: #eaeaea;
    border:1px solid #ccc;
}

svg.react-d3-templates-canvas rect {
    fill: orange;
}
svg.react-d3-templates-canvas path {
    fill: none;
    stroke: orange;
    stroke-width: 3;
}
svg.react-d3-templates-canvas .axis path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
}
svg.react-d3-templates-canvas .y.grid path, svg.react-d3-templates-canvas .y.grid line{
    stroke: #ccc;
    stroke-width: 1;
}